<div >
    <form action="" method="post" id="auteur">
        <div class="right">
            <div class="name">
                <label for="name">Nom de la Categorie</label>
                <input type="text" name = 'nom' placeholder="Categorie" required>
            </div>
            <div class="tel">
                <label for="shot">
                    Court nom
                </label>
                <input type="text" name = 'shot' placeholder="nom categorie en miniscule" required>
            </div>
        </div>
        <div class="btn-save">
            <button type="submit">
                Enregistrer
            </button>
        </div>
    </form>
</div>