<div id="navbar">
    <div class="navbar_container">
        <div class="navbar_div">
            <ul class="menu">
                <li>
                    <a href="/">
                        Tableau de bord
                    </a>
                </li>
                <li>
                    <a href="/tutos">
                        Les Tutoriels
                    </a>
                    <ul class="submenu">
                            <li><a href="/tutos/add" >Nouveau Tuto</a></li>
                            <li><a href="/tutos/categories" >Nouvelle Categorie</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/auteur">
                        Auteurs
                    </a> 
                    <ul class="submenu">
                        <li><a href="/auteur/add" >Nouveau auteur</a></li>
                        
                </ul>
                </li>
                <li>
                    <a href="/abonner">
                        Abonnées
                    </a> 
                </li>
                <li>
                    <a href="/api/images">
                        Images
                    </a> 
                </li>
                <li>
                </li>
            </ul>
        </div>
    </div>
</div>