<div class="entete">
    <div class="entete_content">
        <div class="entete_title">
            <h2><%- name %></h2>
        </div>
       <% if(name == "Santé") { %>
        <div class="add">
            <button href = '/article'>Ajout Tuto</button>
        </div>
       <% } %>
       <% if(name == "Beauté") { %>
        <div class="add">
            <button href = "/article">Ajout Tuto</button>
        </div>
       <% } %>
       <% if(name == "Sport") { %>
        <div class="add">
            <button href = "/article">Ajout Tuto</button>
        </div>
       <% } %>
       <% if(name == "Procédures Administratives") { %>
        <div class="add">
            <button href = "/article">Ajout Tuto</button>
        </div>
       <% } %>
       <% if(name == "Cuisine") { %>
        <div class="add">
            <button href = "/article">Ajout Tuto</button>
        </div>
       <% } %>
       <% if(name == "Éducation") { %>
        <div class="add">
            <button href = "/article">Ajout Tuto</button>
        </div>
       <% } %>
       <% if(name == "Auteurs") { %>
        <div class="add">
            <a href="/auteur/add"><button>Ajout Auteurs</button></a>
        </div>
       <% } %>
    </div>
</div>
