<div class="header_table">
    <div class="checkbox">
        <input type="checkbox" role="checkbox" >
    </div>
    <div class="title">
        <span>Nom et Prenom</span>
    </div>
    <div class="center">
        <span>Categorie</span>
    </div>
    <div class="status">
        <span>photo</span>
    </div>
    <div class="center">
        <span>telephone</span>
    </div>
    <div class="autor">
        <span>Site ou Email</span>
    </div>
</div>