<div class="header_table">
    <div class="checkbox">
        <input type="checkbox" role="checkbox" >
    </div>
    <div class="title">
        <span>Titre tuto</span>
    </div>
    <div class="center">
        <span>Mise en ligne</span>
    </div>
    <div class="status">
        <span>Status</span>
    </div>
    <div class="center">
        <span>Commentaires</span>
    </div>
    <div class="autor">
        <span>Auteurs</span>
    </div>
</div>