<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('../layouts/header') %>
    <div class="grid">
       <div>
        <%- include("../layouts/navbar") %>
       </div>
       <div>
        <%- include("../layouts/categories") %>
       </div>
    </div>
</body>
<script>

    const menu = document.getElementsByClassName('menu')[0]
    let anchor = menu.getElementsByTagName('a')

    function pathname(location){
        return window.location.pathname = `/${location}`
    }

    window.addEventListener('load', () => {
       for(let a of anchor){
        if(a.getAttribute('href') === this.location.pathname ) a.classList = 'active'
        else console.log('erro')
       }
    })
</script>
</html> 